## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df.CLASSIFICATION.value_counts()[application_df.CLASSIFICATION.value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df.CLASSIFICATION.value_counts()[application_df.CLASSIFICATION.value_counts()<=1000].index
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns = "IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 1)                 101

=================================================================
Total params: 14,601
Trainable params: 14,601
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=200)

Epoch 1/200
804/804 [==============================] - 8s 5ms/step - loss: 1.1650 - accuracy: 0.6863
Epoch 2/200
804/804 [==============================] - 5s 6ms/step - loss: 1.1294 - accuracy: 0.6897
Epoch 3/200
804/804 [==============================] - 3s 4ms/step - loss: 0.9602 - accuracy: 0.7170
Epoch 4/200
804/804 [==============================] - 3s 4ms/step - loss: 0.8284 - accuracy: 0.7181
Epoch 5/200
804/804 [==============================] - 2s 2ms/step - loss: 0.7468 - accuracy: 0.7214
Epoch 6/200
804/804 [==============================] - 2s 3ms/step - loss: 0.7118 - accuracy: 0.7235
Epoch 7/200
804/804 [==============================] - 2s 2ms/step - loss: 0.9464 - accuracy: 0.7021
Epoch 8/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6851 - accuracy: 0.7281
Epoch 9/200
804/804 [==============================] - 2s 2ms/step - loss: 0.7017 - accuracy: 0.7285
Epoch 10/200
804/804 [==============================] - 2s 2ms/step - loss: 0.7310 - accuracy: 0.7260
Epoch 11/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6555 - accuracy: 0.7301
Epoch 12/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6504 - accuracy: 0.7251
Epoch 13/200
804/804 [==============================] - 2s 3ms/step - loss: 0.6320 - accuracy: 0.7305
Epoch 14/200
804/804 [==============================] - 2s 3ms/step - loss: 0.6326 - accuracy: 0.7306
Epoch 15/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6292 - accuracy: 0.7318
Epoch 16/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6287 - accuracy: 0.7257
Epoch 17/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6244 - accuracy: 0.7281
Epoch 18/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6143 - accuracy: 0.7325
Epoch 19/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6202 - accuracy: 0.7317
Epoch 20/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5934 - accuracy: 0.7326
Epoch 21/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5868 - accuracy: 0.7331
Epoch 22/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6025 - accuracy: 0.7282
Epoch 23/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5884 - accuracy: 0.7335
Epoch 24/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5824 - accuracy: 0.7322
Epoch 25/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5671 - accuracy: 0.7341
Epoch 26/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5693 - accuracy: 0.7331
Epoch 27/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5688 - accuracy: 0.7346
Epoch 28/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5811 - accuracy: 0.7322
Epoch 29/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5717 - accuracy: 0.7346
Epoch 30/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5638 - accuracy: 0.7352
Epoch 31/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5698 - accuracy: 0.7361
Epoch 32/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5859 - accuracy: 0.7348
Epoch 33/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5673 - accuracy: 0.7350
Epoch 34/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5734 - accuracy: 0.7355
Epoch 35/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5802 - accuracy: 0.7372
Epoch 36/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5813 - accuracy: 0.7287
Epoch 37/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5724 - accuracy: 0.7360
Epoch 38/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6382 - accuracy: 0.7333
Epoch 39/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6515 - accuracy: 0.7337
Epoch 40/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5763 - accuracy: 0.7383
Epoch 41/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5668 - accuracy: 0.7372
Epoch 42/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5688 - accuracy: 0.7375
Epoch 43/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5876 - accuracy: 0.7369
Epoch 44/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5916 - accuracy: 0.7346
Epoch 45/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5762 - accuracy: 0.7375
Epoch 46/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5649 - accuracy: 0.7379
Epoch 47/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5708 - accuracy: 0.7371
Epoch 48/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5745 - accuracy: 0.7363
Epoch 49/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5849 - accuracy: 0.7295
Epoch 50/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5712 - accuracy: 0.7363
Epoch 51/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5722 - accuracy: 0.7360
Epoch 52/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5718 - accuracy: 0.7354
Epoch 53/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5735 - accuracy: 0.7380
Epoch 54/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5626 - accuracy: 0.7362
Epoch 55/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5705 - accuracy: 0.7345
Epoch 56/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5622 - accuracy: 0.7367
Epoch 57/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5644 - accuracy: 0.7373
Epoch 58/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5697 - accuracy: 0.7381
Epoch 59/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5672 - accuracy: 0.7360
Epoch 60/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5754 - accuracy: 0.7368
Epoch 61/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5603 - accuracy: 0.7388
Epoch 62/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5698 - accuracy: 0.7378
Epoch 63/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5656 - accuracy: 0.7386
Epoch 64/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5766 - accuracy: 0.7356
Epoch 65/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5692 - accuracy: 0.7384
Epoch 66/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5634 - accuracy: 0.7389
Epoch 67/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5724 - accuracy: 0.7378
Epoch 68/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5687 - accuracy: 0.7378
Epoch 69/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5676 - accuracy: 0.7375
Epoch 70/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5658 - accuracy: 0.7376
Epoch 71/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5655 - accuracy: 0.7376
Epoch 72/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5631 - accuracy: 0.7385
Epoch 73/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5644 - accuracy: 0.7393
Epoch 74/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5750 - accuracy: 0.7389
Epoch 75/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5670 - accuracy: 0.7388
Epoch 76/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5790 - accuracy: 0.7375
Epoch 77/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5713 - accuracy: 0.7376
Epoch 78/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5803 - accuracy: 0.7382
Epoch 79/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5769 - accuracy: 0.7383
Epoch 80/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5770 - accuracy: 0.7374
Epoch 81/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6207 - accuracy: 0.7369
Epoch 82/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5699 - accuracy: 0.7392
Epoch 83/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5636 - accuracy: 0.7388
Epoch 84/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5674 - accuracy: 0.7387
Epoch 85/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5731 - accuracy: 0.7372
Epoch 86/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5683 - accuracy: 0.7380
Epoch 87/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5707 - accuracy: 0.7384
Epoch 88/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5638 - accuracy: 0.7386
Epoch 89/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5885 - accuracy: 0.7383
Epoch 90/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5737 - accuracy: 0.7383
Epoch 91/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5652 - accuracy: 0.7382
Epoch 92/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5678 - accuracy: 0.7392
Epoch 93/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5682 - accuracy: 0.7379
Epoch 94/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5630 - accuracy: 0.7392
Epoch 95/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5666 - accuracy: 0.7386
Epoch 96/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5697 - accuracy: 0.7389
Epoch 97/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5809 - accuracy: 0.7375
Epoch 98/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5775 - accuracy: 0.7380
Epoch 99/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5800 - accuracy: 0.7392
Epoch 100/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5923 - accuracy: 0.7369
Epoch 101/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6057 - accuracy: 0.7385
Epoch 102/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5781 - accuracy: 0.7373
Epoch 103/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5672 - accuracy: 0.7394
Epoch 104/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5676 - accuracy: 0.7389
Epoch 105/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5689 - accuracy: 0.7398
Epoch 106/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5626 - accuracy: 0.7396
Epoch 107/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5641 - accuracy: 0.7379
Epoch 108/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5709 - accuracy: 0.7382
Epoch 109/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5823 - accuracy: 0.7386
Epoch 110/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5832 - accuracy: 0.7381
Epoch 111/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5826 - accuracy: 0.7374
Epoch 112/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5666 - accuracy: 0.7381
Epoch 113/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5713 - accuracy: 0.7379
Epoch 114/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5694 - accuracy: 0.7391
Epoch 115/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5733 - accuracy: 0.7372
Epoch 116/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5873 - accuracy: 0.7389
Epoch 117/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5949 - accuracy: 0.7386
Epoch 118/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6007 - accuracy: 0.7390
Epoch 119/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5745 - accuracy: 0.7379
Epoch 120/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5744 - accuracy: 0.7378
Epoch 121/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5681 - accuracy: 0.7387
Epoch 122/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5722 - accuracy: 0.7389
Epoch 123/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5858 - accuracy: 0.7389
Epoch 124/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5946 - accuracy: 0.7384
Epoch 125/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6035 - accuracy: 0.7384
Epoch 126/200
804/804 [==============================] - 2s 3ms/step - loss: 0.6033 - accuracy: 0.7379
Epoch 127/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5985 - accuracy: 0.7380
Epoch 128/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6051 - accuracy: 0.7376
Epoch 129/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5869 - accuracy: 0.7381
Epoch 130/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5859 - accuracy: 0.7393
Epoch 131/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5869 - accuracy: 0.7398
Epoch 132/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6082 - accuracy: 0.7395
Epoch 133/200
804/804 [==============================] - 2s 3ms/step - loss: 0.6074 - accuracy: 0.7403
Epoch 134/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6102 - accuracy: 0.7390
Epoch 135/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6104 - accuracy: 0.7379
Epoch 136/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6057 - accuracy: 0.7399
Epoch 137/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6074 - accuracy: 0.7386
Epoch 138/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5979 - accuracy: 0.7391
Epoch 139/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6020 - accuracy: 0.7384
Epoch 140/200
804/804 [==============================] - 2s 3ms/step - loss: 0.6196 - accuracy: 0.7388
Epoch 141/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6046 - accuracy: 0.7395
Epoch 142/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6060 - accuracy: 0.7399
Epoch 143/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5950 - accuracy: 0.7399
Epoch 144/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5970 - accuracy: 0.7392
Epoch 145/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5983 - accuracy: 0.7394
Epoch 146/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5946 - accuracy: 0.7392
Epoch 147/200
804/804 [==============================] - 2s 3ms/step - loss: 0.6048 - accuracy: 0.7385
Epoch 148/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5961 - accuracy: 0.7392
Epoch 149/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5968 - accuracy: 0.7398
Epoch 150/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6045 - accuracy: 0.7397
Epoch 151/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6029 - accuracy: 0.7397
Epoch 152/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5873 - accuracy: 0.7395
Epoch 153/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5830 - accuracy: 0.7395
Epoch 154/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5765 - accuracy: 0.7389
Epoch 155/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5796 - accuracy: 0.7400
Epoch 156/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5821 - accuracy: 0.7397
Epoch 157/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5891 - accuracy: 0.7375
Epoch 158/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5950 - accuracy: 0.7380
Epoch 159/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5904 - accuracy: 0.7391
Epoch 160/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5903 - accuracy: 0.7381
Epoch 161/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5864 - accuracy: 0.7385
Epoch 162/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5815 - accuracy: 0.7395
Epoch 163/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5778 - accuracy: 0.7387
Epoch 164/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5888 - accuracy: 0.7397
Epoch 165/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5861 - accuracy: 0.7392
Epoch 166/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5909 - accuracy: 0.7390
Epoch 167/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7384
Epoch 168/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5617 - accuracy: 0.7381
Epoch 169/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5690 - accuracy: 0.7394
Epoch 170/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5659 - accuracy: 0.7389
Epoch 171/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5639 - accuracy: 0.7403
Epoch 172/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5764 - accuracy: 0.7393
Epoch 173/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7391
Epoch 174/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5791 - accuracy: 0.7396
Epoch 175/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5780 - accuracy: 0.7394
Epoch 176/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5758 - accuracy: 0.7391
Epoch 177/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5774 - accuracy: 0.7399
Epoch 178/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5779 - accuracy: 0.7386
Epoch 179/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5806 - accuracy: 0.7395
Epoch 180/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5800 - accuracy: 0.7394
Epoch 181/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5791 - accuracy: 0.7399
Epoch 182/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5817 - accuracy: 0.7397
Epoch 183/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5838 - accuracy: 0.7393
Epoch 184/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5799 - accuracy: 0.7395
Epoch 185/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5789 - accuracy: 0.7392
Epoch 186/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6014 - accuracy: 0.7392
Epoch 187/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5986 - accuracy: 0.7390
Epoch 188/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5930 - accuracy: 0.7394
Epoch 189/200
804/804 [==============================] - 2s 3ms/step - loss: 0.6030 - accuracy: 0.7378
Epoch 190/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5904 - accuracy: 0.7392
Epoch 191/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5847 - accuracy: 0.7400
Epoch 192/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5906 - accuracy: 0.7386
Epoch 193/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5872 - accuracy: 0.7395
Epoch 194/200
804/804 [==============================] - 2s 2ms/step - loss: 0.6015 - accuracy: 0.7386
Epoch 195/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5861 - accuracy: 0.7400
Epoch 196/200

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6409 - accuracy: 0.7273 - 532ms/epoch - 2ms/step
Loss: 0.6408997178077698, Accuracy: 0.7273469567298889

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
# Export our model to HDF5 file
nn.save(('/content/model2.h5'))